In [ ]:
### DATA PREPROCESSING ###

In [2]:
import pandas as pd

# Load the data
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
# Handel Missing Values

# Replace '?' with NaN
df = df.replace('?', pd.NA)

# Check missing values
print(df.isna().sum())

# Drop rows with missing values
df = df.dropna()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [ ]:
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [11]:
# Convert categorical columns into numerical format using Label Encoding or One-Hot Encoding

from sklearn.preprocessing import LabelEncoder

df.columns = df.columns.str.strip()  


categorical_cols = ['workclass', 'education', 'marital.status', 'occupation', 
                    'relationship', 'race', 'sex', 'native.country', 'income']

label_encoders = {}
for col in categorical_cols:
    if col in df.columns:  
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
        label_encoders[col] = le
    else:
        print(f"Warning: Column '{col}' not found in the dataset.")

In [13]:
# Standardize numerical features to improve model performance

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numerical_cols = ['age', 'education', 'capital.gain', 'capital.loss', 'hours.per.week']

df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [15]:
# Split Dataset

from sklearn.model_selection import train_test_split

# Separate features and target
X = df.drop(columns=['income'])  # Features
y = df['income']  # Target

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
### PREPROCESSING ENDED ###